*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  max-width: 100vw;
}
h1, h2, h2, nav{
  text-align: center;
}
/* NAVIGATION MENU */
nav{
  width:100vw
}
nav>li{
  display :inline-block;
  margin:  1% 5%;
}
a.active{
  text-decoration: underline;
}
li>a, a:visited{
  text-decoration: none;
  color:black;
}

/* LOGIN FORM */
form{
  display: grid;
  width:30vw;
  margin: 5% auto;
  grid-gap:1vw;
}
label{
  display: grid;
  text-align: left;
}
button, input{
  padding:10px;
}
form > button{
  background:darkslategrey;
  border: none;
  color:white;
  text-transform: uppercase;
}

/* FRONTPAGE */
.moviesContainer{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap:2vw;
  margin: 0 5%;
}
.movie{
  padding: 3%;
  border: 1px solid #ddd;
}
.movie img{
  width:80%;
  display: block;
  margin:auto;
}
.movie p, .movie h2{
  padding: 1% 0;
}
.moviesContainer h1{
  grid-column: 1/-1;
}
